<!DOCTYPE html>
<html>
<%- include(snippet+'head.ejs', {title:'404找不到页面 - 玄云海', npm_cdn:npm_cdn, gh_cdn:gh_cdn}); %>
<body>
<%- include(snippet+'loading.ejs'); %>
<%- include(snippet+'cover.ejs'); %>
<%- include(snippet+'header.ejs'); %>
<main class="main">
    <h1>404</h1>
    <p id="Text">哎呀，你走丢了，<span id="time"></span>秒后将飘出这片神秘海洋！</p>
</main>
<%- include(snippet+'footer.ejs'); %>
<style>
    main {
        height: 500px;
        width: 50%;
        margin: 30px auto;
        margin-top: 150px !important;
        background-color: white;
        text-align: center;
        border-radius: 10px;
        display: table;
    }

    main > h1 {
        margin-top: 60px;
        font-weight: bolder;
    }

    main > p {
        margin-bottom: 60px;
    }

    @media (max-width: 425px) {
        main {
            height: 80%;
            width: 100%;
        }
    }
</style>
<script>
    var i = 10;
    document.getElementById('time').innerHTML = i;
    i--;
    a = setInterval(function () {
        document.getElementById('time').innerHTML = i;
        i--;
        if (i == 0) {
            clearInterval(a);
            document.getElementById('Text').innerHTML = "正在跳出！！！"
            if (document.referrer) {
                window.history.back(-1);
            } else {
                window.location.href = '/'
            }
        }
    }, 1000)
</script>
</body>
</html>
