<!DOCTYPE html>
<html>
<%- include(snippet+'head.ejs', {title:'玄云海', npm_cdn:npm_cdn, gh_cdn:gh_cdn}); %>
<body>
<%- include(snippet+'loading.ejs'); %>
<%- include(snippet+'cover.ejs'); %>
<%- include(snippet+'header.ejs'); %>
<main class="main">
    <div class="row brand">
        <div class="col-sm-6 top">
            <h1>玄云海</h1>
            <span id="info-text"><%const infos = [
        '神秘主义的屋舍',
        '黑夜之中的恶魔低语',
        '高傲不羁的灵魂居所',
        '南山之外的磅礴云海'
    ]%>
                <%=infos[Math.floor(Math.random() * infos.length)]%></span>
        </div>
        <div class="col-sm-6 bottom">
            <img class="logo" alt="" src="/img/logo.svg">
        </div>
    </div>
    <div class="main-card">
        <h1 style="margin: 10px;text-align: center;font-weight: bolder;">核心成员</h1>
        <div class="core-user card-list row">
            <div class="col-md-4 col-sm-6">
                <a class="card" href="https://chuishen.cf/">
                    <div class="card-tags">
                        创始人
                    </div>
                    <img class="user-head" alt="" src="https://www.z4a.net/images/2022/05/14/headimg_dl.jpg">
                    <strong style="margin-left: 100px;margin-top: -55px;color: black;">吹神求杀</strong>
                    <p style="margin-left: 100px; margin-top: 0;font-size: 14px;color: #808080;">神秘主义的信徒，无名究极的秘神</p>
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a class="card" href="https://www.tutime.cn/">
                    <img class="user-head" alt="" src="https://www.tutime.cn/3.jpg">
                    <strong style="margin-left: 100px;margin-top: -55px;color: black;">土土</strong>
                    <p style="margin-left: 100px; margin-top: 0;font-size: 14px;color: #808080;">一个初二的渣渣</p>
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a class="card" href="">
                    <img class="user-head" alt="" src="http://q2.qlogo.cn/headimg_dl?dst_uin=2734251799&spec=100">
                    <strong style="margin-left: 100px;margin-top: -55px;color: black;">宝贝源源</strong>
                    <p style="margin-left: 100px; margin-top: 0;font-size: 14px;color: #808080;"></p>
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a class="card" href="https://www.yt-blog.top/">
                    <img class="user-head" alt="" src="https://img.yt-blog.top/png/so_big_logo.png">
                    <strong style="margin-left: 100px;margin-top: -55px;color: black;">懵懂の初一少年</strong>
                    <p style="margin-left: 100px; margin-top: 0;font-size: 14px;color: #808080;">一个少年的博客</p>
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a class="card" href="mailto:errorbest@163.com">
                    <img class="user-head" alt="" src="https://s1.328888.xyz/2022/09/11/K64HF.webp">
                    <strong style="margin-left: 100px;margin-top: -55px;color: black;">FCLONELY</strong>
                    <p style="margin-left: 100px; margin-top: 0;font-size: 14px;color: #808080;"></p>
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
            <a class="card" href="mailto:errorbest@163.com">
                <img class="user-head" alt="" src="">
                <strong style="margin-left: 100px;margin-top: -55px;color: black;">herobrine</strong>
                <p style="margin-left: 100px; margin-top: 0;font-size: 14px;color: #808080;"></p>
            </a>
        </div>

        </div>
    </div>
</main>
<%- include(snippet+'footer.ejs'); %>
<style>
    main.main {
        width: 100%;
        user-select: none;
    }

    .brand {
        height: 550px;
        background-color: #231f1e;
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .brand > .top, .brand > .bottom {
        width: 50%;
        min-width: 212.5px;
        margin-top: 275px;
        padding: 0;
        text-align: center;
    }

    .brand > .top > h1 {
        color: #f7e0d2;
        font-weight: bolder;
        transform: translate(0, -50%);
        margin-bottom: -15px;
        display: block;
    }

    .brand > .top > span {
        color: white;
        display: block;
    }

    .brand > .bottom > .logo {
        width: 70%;
        height: 70%;
        transform: translate(0, -50%);
    }


    /* 下方卡片 */
    .main-card {
        margin-top: -5px;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        height: auto;
        background-color: #f6f6f6;
        width: 100%;
        padding-top: 10px;
        font-size: 15px;
        padding-bottom: 30px;
    }

    .core-user {
        margin-top: 20px !important;
        margin-bottom: 50px !important;
        width: 95%;
        margin: auto;
    }

    .core-user > div > .card {
        height: 100px;
        margin-top: 10px;
        text-decoration: none;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .core-user > div {
        padding: 0 -5em;
    }

    .core-user > div > .card > img {
        width: 60px;
        height: 60px;
        margin-top: 20px;
        margin-left: 20px;
        border-radius: 100%;
    }

    @media (max-width: 425px) {
        .brand > .top {
            width: 100%;
            margin-top: 150px;
        }

        .brand > .top > h1 {
            transform: translate(0, 0%);
        }

        .brand > .top > #info-text {
            margin-top: 15px !important;
        }

        .brand > .bottom {
            width: 100%;
            margin-top: -60px;
        }

        .brand > .bottom > .logo {
            width: 60%;
            height: 60%;
            transform: translate(0, 0);
        }
    }
</style>
</body>
</html>
